$main-bg-color: #F5EDE3;
$secondary-bg-color: #E7E0D9;
$text-color: #3a3633;
$shadow-color: rgba(141, 136, 131, 0.8);
$book-bg-color: #f0f0f0;
$book-shadow-color: rgba(43, 28, 14, 0.8);

/* Background image */
body {
    background-image: url(./images/newFacade.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
}

header {
    /* opacity: 1.0 !important; */
    color: $text-color;
    font-size: x-large;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
    text-shadow: 4px 4px 8px $shadow-color;    
}

.header-box {
    background-color: #E2DDDB; 
    padding: 20px; 
    text-align: center; 
    color: $text-color; 
    font-size: x-large; 
    font-weight: bold; 
}

h2, .p1 { 
    color: #866b51;
    font-size: x-large;
    /* font-weight: bold; */
    /* padding: 20px 0; */
    text-align: center;
    text-shadow: 4px 4px 8px $book-shadow-color;    
}

.book-container {
    display: flex;
    justify-content: center;
}

/* Style for each rectangular box */
.book-box {
    width: 100px;
    height: 500px;
    opacity: .6;
    background-color: $book-bg-color;
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl; /* Set text direction to vertical */
    text-align: center;
    transform: rotate(-180deg); 
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    background-color: rgba(255, 255, 255, 0.9);
    /* padding: 20px;
    border: 2px solid #000; */
    max-width: 100%;
    max-height: 100%;
    z-index: 9999;
    /* overflow-y: auto; */
  }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  .box {
    background-color: #412538; /* update */
    border-radius: 10px;
    padding: 20px;
  } 
    .container{
    display:flex
    flex-direction:column;
    gap: 20px;
  }  
   .cardDisplay {
    display:flex;
    align-items: center;
   }
   .image-container{
    margin-right: 20px;
   }
   
   .card-img{
    width: auto !important;
    height: 200px;
    float:left;
    border-radius: 20px;
    margin-right: 20px;
   }
  
  .cards-p{
    width: 90%;
    margin 20px 30 px 0 0;
    font-size: 36;
    color: #786e75 /* update */ 
  }
  .card-header {
    color:#786e75; /* update */ 
    text-align: center;
    font-size: 2em;  
  }

